.idea/
*.iml
.classpath
.project
.metadata/*
*.class
*/target
*/target/*
*/bin
*/bin/*
*.jar
*.war
*.swp
*/.settings
/.settings
/pastor_client/src/main/java/META-INF/*.MF
/pastor_common/src/main/java/META-INF/*.MF
/pastor_console/src/main/java/META-INF/*.MF
/pastor_example/src/main/java/META-INF/*.MF
/pastor_monitor/src/main/java/META-INF/*.MF
/pastor_registry/src/main/java/META-INF/*.MF
/pastor_registry_default/src/main/java/META-INF/*.MF
/pastor_remoting/src/main/java/META-INF/*.MF
/pastor_serialization/src/main/java/META-INF/*.MF
/pastor_spring_support/src/main/java/META-INF/*.MF

