<!DOCTYPE html>
<html>
    #parse('/common/head.vm')
<body>

<div class="main clearfix">
<!-- 顶部导航 -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">
                <img src="/misc/images/logo.png" alt="Harbert logo" class="navbar-logo">
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <div class="navbar-text">
                <p title="全球购订单利润报表">全球购订单利润报表</p>
                <!-- <input type="text" value="全球购订单利润报表" class="form-control"> -->
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="javascript:void(0);">新建</a>
                </li>
                <li>
                    <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                </li>
                <li>
                    <a href="javascript:void(0);">撤销</a>
                </li>
                <li>
                    <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                </li>
                <li>
                    <a href="javascript:void(0);">重做</a>
                </li>
                <li>
                    <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                </li>
                <li>
                    <a href="javascript:void(0);">收藏</a>
                </li>
                <li>
                    <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                </li>
                <li>
                    <a href="javascript:void(0);">导出</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- end 顶部导航 -->



<!-- 树形目录 -->
<div class="data-tree-container">
    <!-- 搜索 -->
    <div class="input-group search">
        <input type="text" class="form-control input-sm" placeholder="请输入查找指标">
						<span class="input-group-btn">
							<a href="javascript:void(0);" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-search"></span>
                            </a>
						</span>
    </div>
    <!--end 搜索 -->
</div>
<!-- end 树形目录 -->

<div class="explore-container">
    <div class="panel-container clearfix">

        <!-- 数据编辑工具面板 -->
        <div class="edit-tool-panel panel panel-default">
            <div class="panel-body clearfix">
                <div class="pull-right clearfix">
                    <ul class="clearfix pull-left">
                        <li class="pull-left">
                            <a href="javascript:void(0);" class="edit-tool-sort">
                                <span class="edit-tool-icon"></span>
                                <span class="tool-name">排序</span>
                            </a>
                        </li>
                        <li class="pull-left">
                            <a href="javascript:void(0);" class="edit-tool-filter">
                                <span class="edit-tool-icon"></span>
                                <span class="tool-name">筛选</span>
                            </a>
                        </li>
                        <li class="pull-left">
                            <a href="javascript:void(0);" class="edit-tool-insert-column">
                                <span class="edit-tool-icon"></span>
                                <span class="tool-name">插入列</span>
                            </a>
                        </li>
                        <li class="pull-left">
                            <a href="javascript:void(0);" class="edit-tool-del-column">
                                <span class="edit-tool-icon"></span>
                                <span class="tool-name">删除列</span>
                            </a>
                        </li>
                        <li class="pull-left">
                            <a href="javascript:void(0);" class="edit-tool-customizations">
                                <span class="edit-tool-icon"></span>
                                <span class="tool-name">自定义列</span>
                            </a>
                        </li>
                        <li class="pull-left">
                            <a href="javascript:void(0);" class="edit-tool-function">
                                <span class="edit-tool-icon"></span>
                                <span class="tool-name">函数</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="clearfix pull-left">
                        <li class="pull-left">
                            <a href="javascript:void(0);" class="edit-tool-format-num">
                                <span class="edit-tool-icon"></span>
                                <span class="tool-name">数字格式</span>
                            </a>
                        </li>
                        <li class="pull-left">
                            <a href="javascript:void(0);" class="edit-tool-format-requirement">
                                <span class="edit-tool-icon"></span>
                                <span class="tool-name">条件格式</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="clearfix pull-left">
                        <li class="pull-left">
                            <a href="javascript:void(0);" class="edit-tool-insert-canvas">
                                <span class="edit-tool-icon"></span>
                                <span class="tool-name">插入图表</span>
                            </a>
                        </li>
                        <li class="pull-left">
                            <a href="javascript:void(0);" class="edit-tool-canvas-color">
                                <span class="edit-tool-icon"></span>
                                <span class="tool-name">图表颜色</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- end 数据编辑工具面板 -->

        <!-- 数据表格展示面板 -->
        <div class="data-table-panel panel panel-default">
            <div class="panel-heading">表格名称</div>
            <div class="panel-body"></div>
        </div>
        <!-- end 数据表格展示面板 -->

        <!-- 数据图表展示面板 -->
        <div class="data-canvas-panel panel panel-default">
            <div class="panel-heading">图表名称</div>
            <div class="panel-body">
                <div class="data-canvas-container">
                    <div id="canvasjs" style="width:400px;height:360px;"></div>
                </div>
            </div>
        </div>
        <!-- end 数据图表展示面板 -->

    </div>
</div>

</div>
    #parse('/common/footscript.vm')
</body>
</html>